<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block extra_head %}
    {% endblock %}

    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgb(22, 22, 22);">
            <a class="navbar-brand" style="font-family: Arial; font-size: 1.5rem; background-color: rgb(145, 0, 0); padding: 1rem; border-radius: 7%;" href="/">YouTube Search</a>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>
